@inherits LayoutComponentBase
<BPopup></BPopup>
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    @*<div class="top-row px-4">
        Hello, 欢迎使用AlonsoAdmin参数配置工具
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>*@

    <div class="content px-4">
        @Body
    </div>
</div>
